In [2]:
import pandas as pd
import numpy as np

In [3]:
dict_data = {
    'edad' : [10, 9, 13, 14, 12, 11, 12],
    'cm' : [115, 110, 130, 155, 125, 120, 125],
    'pais': ['co', 'mx', 'co', 'mx', 'mx', 'ch', 'ch'],
    'genero': ['M', 'F', 'F', 'M', 'M', 'M', 'F'],
    'Q1' : [5, 10, 8, np.nan, 7, 8, 3],
    'Q2' : [7, 9, 9, 8, 8, 8, 9]
}
dict_data

{'edad': [10, 9, 13, 14, 12, 11, 12],
 'cm': [115, 110, 130, 155, 125, 120, 125],
 'pais': ['co', 'mx', 'co', 'mx', 'mx', 'ch', 'ch'],
 'genero': ['M', 'F', 'F', 'M', 'M', 'M', 'F'],
 'Q1': [5, 10, 8, nan, 7, 8, 3],
 'Q2': [7, 9, 9, 8, 8, 8, 9]}

In [4]:
df = pd.DataFrame(dict_data)
df

   edad   cm pais genero    Q1  Q2
0    10  115   co      M   5.0   7
1     9  110   mx      F  10.0   9
2    13  130   co      F   8.0   9
3    14  155   mx      M   NaN   8
4    12  125   mx      M   7.0   8
5    11  120   ch      M   8.0   8
6    12  125   ch      F   3.0   9

In [11]:
dir_pandas = '/Users/Naxo/Desktop/Platzi/Datascience school/Curso_manipulacion_de_Datos_con_pandas'.format('test.csv')

In [12]:
df.to_csv(dir_pandas)

PermissionError: [Errno 13] Permission denied: '/Users/Naxo/Desktop/Platzi/Datascience school/Curso_manipulacion_de_Datos_con_pandas'